.inputpertanyaan footer {
    background-color: #007B9B;
}

.inputpertanyaan .card-footer {
    background-color: white;
}

.inputpertanyaan .card {
    padding-left: 160px;
    padding-right: 160px;
    border: 0px;
}

.inputpertanyaan  .btn {
    color: #fff;
    background-color: #007B9B;
}

.inputpertanyaan  a {
    color: #fff;
}