.lihat_konsultasi .btn{
    size:50px;
    color:#fff;
    background-color:#007B9B;
}
.lihat_konsultasi .card{
    padding-left:160px;
    padding-right:160px;
    border:0px;
}
.lihat_konsultasi .card-jawab{
    padding-left:30px;
}