.ninfo{
    background: #007b9b;
}

.ninfo .img-title{
    margin-top: 30px;
}

.ninfo .col img{
    margin-top: 20px;
    margin-bottom: 40px;
}

.ninfo .col p{
    text-align: justify;
}

.ninfo .kembali{
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.ninfo .card{
    margin-top: 30px;
    background: white;
}
