.info body{
    background: #007b9b;
}

.info .img-title{
    margin-top: 30px;
}

.info .col img{
    margin-top: 20px;
    margin-bottom: 40px;
}

.info .col p{
    text-align: justify;
}

.info .kembali{
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.info .card{
    margin-top: 30px;
    background: white;
}
